<html>
<head>
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">

<link rel="stylesheet" href="styles/multizoom.css">
<link rel="stylesheet" href="styles/zoomy.css">

<script src="bower_components/jquery/jquery.js"></script>
<script src="scripts/multizoom.js"></script>
<script src="bower_components/zoomy/zoomy.js"></script>


<script type="text/javascript">

    //jQuery('#multizoom2, #description2').multizoomhide();

	jQuery(document).ready(function($) {
		//$(function () {
    	//	$('.zoom').zoomy();
		//}(jQuery))

		$(function () {
			$('.zoom').zoomy('mouseover',
        		{
            		clickable: false,
            		attr: 'rel'   
        		}
        	);
		}(jQuery))    
	})

</script>
</head>
<body>
<div>
	<h3>{{item.title}}</h3>
	<div class="targetarea diffheight">
		<a href="imageitems/{{currentImage.large}}" rel="imageitems/{{currentImage.large}}" class="zoom">
			<img id="multizoom" alt="zoomable" title="" ng-src="imageitems/{{currentImage.small}}">
		</a>
	</div>
	<div id="description">{{currentImage.title}}</div>
	<div class="multizoom thumbs">
		<span ng-repeat="image in item.images">
			<img ng-click="changeImage(image.small);" ng-src="imageitems/{{image.thumbnail}}" alt="{{image.alt}}" title="">
		</span>
	</div>

	<a ng-href="#/items">Back to items</a>
</div>
</body>
</html>