<html>
<head>
<meta http-equiv="Cache-control" content="no-cache">
<meta http-equiv="Expires" content="-1">

<link href="styles/myStyle.css">
<link href="bower_components/zoomy2/JS/assets/css/style.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.2/jquery.min.js"></script>
<script src="bower_components/zoomy2/JS/jquery-zoomy-1.0.js"></script>


<script type="text/javascript">

	jQuery(document).ready(function($) {

		$(function () {
    		$('.zoom').zoomy({
  				innerZoom: true, 
  				lensHeight: 160,
  				lensWidth: 182
			});
		}(jQuery))    

	});

</script>
</head>
<body>
<div>
	<h3>{{item.title}}</h3>
	<div class="zoom" data-zoomed-image="imageitems/{{currentImage.large}}">
		<img style="height:300px;width:400px" class="image_zoom2" ng-src="imageitems/{{currentImage.small}}">
	</div>
	<div id="description">{{currentImage.title}}</div>
	<div class="multizoom thumbs">
		<span ng-repeat="image in item.images">
			<img ng-click="changeImage(image.small);" ng-src="imageitems/{{image.thumbnail}}" alt="{{image.alt}}" title="">
		</span>
	</div>

	<a ng-href="#/items">Back to items</a>
</div>
</body>
</html>